* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1000px;
    height: 250px;
    border: 5px solid #EB00FF;
    
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    border-width: 5px 10px 5px 5px;
    border-style: solid;
    border-color: white;
    width: 750px;
    align-self: stretch;
}
.boxes-container{
  display: flex;
    padding: 0px;  
    width :250px;
    align-self: stretch;
}
.justify-start {
     justify-content:flex-start;
}
.justify-center {
    justify-content:center;
}
.justify-end {
    justify-content:flex-end;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.box {
       width : 100px;
    height : 100px;
    background-color:#9314A8
}
.empty-container{
    display: flex;
    width: 250px;
    order: 0;
    align-self: stretch;
    padding: 0px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #EB00FF
}
