* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1000px;
    height: 250px;
    border: 5px solid #EB00FF;
    
}



.boxes-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    border-width: 5px 10px 5px 5px;
    border-style: solid;
    border-color: white;
    width: 750px;
    align-self: stretch;
}
.flex-start ,.justify-center ,.flex-end {
    display: flex;
    padding: 0px;  
    width :250px;
    align-self: stretch;

}
.boxes-container .flex-start{
    justify-content:flex-start;
    
}

.boxes-container .justify-center {
    justify-content:center;
    align-items:center; 
}
.boxes-container .flex-end {
    justify-content:flex-end;
    align-items: flex-end;
    
}
.flex-start> div , .justify-center > div , .flex-end> div{
    width : 100px;
    height : 100px;
    background-color:#9314A8
}


.empty-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 250px;
    order: 0;
    align-self: stretch;
    padding: 0px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #EB00FF
}
